{% extends 'base.html' %}
{% block title %} Account {% endblock %}

{% block content %}


<h3>Account Details</h3>
{% if user.is_authenticated %}

<p>Email: {{ user.email }}</p>
<p>Username: {{ user.username }}</p>

<hr>

<h4>Payment Methods</h4>
<p>Only one online payment method may be stored at a time.</p>
{{payment}}
{% if payment %}
    <p>Card number: {{ payment.CardNumber }}</p>
    <p>Cardholder name: {{ payment.Name }}</p>
{% endif %}
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="cardNumber">Card Number</label>
        <input type="text" class="form-control" id="cardNumber" name="cardNumber" required>
    </div>
    <div class="form-group">
        <label for="name">Cardholder Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <button type="submit" class="btn btn-primary">Save Card</button>
</form>

<hr>

<form method="POST" action=" {% url 'shipping' %}">
<p>First name: {{ fname }}</p>
<p>Last name: {{ lname }}</p>
<p>Address: {{ address }}</p>
<p>City: {{ city }}</p>
<p>State: {{ state }}</p>
<p>Zip: {{ zip }}</p>
<p>Phone number: {{ phone }}</p>
<h4>Shipping Address</h4>
    {% csrf_token %}
    {{ shippingForm.as_p }}
    <button type="submit" class="btn btn-primary">Save Address</button>
</form>
{% endif %}


{% endblock %}