{% extends 'base.html' %}
{% block title %} Cart {% endblock %}
{% load mathfilters %}
{% block content %}
<h1>Shopping Cart</h1></br>
<div class="d-flex flex-row justify-content-between">
    <h2>Item </h2>
    <h2>Price</h2>
    <h2>Quantity</h2>
    <h2>Total</h2>
</div>
<hr>

{% if product|length == 0 %}
<h3>Your cart is empty</h3>
{% else %}
{% for prod in product %}
<div class="d-flex flex-row justify-content-between">
    <p> {{ prod.name }} </br> <button onclick="removeFunction( {{ prod.name }} )" id={{ prod.name }} type="button" class="btn btn-link remove">Remove</button></p>
    <p>${{ prod.price }}</p>
    <p>{{ prod.quantity }}</p>
    <p>${{ prod.price|mul:prod.quantity }}</p>
</div>
<hr>
{% endfor %}
{% endif %}

<div class="d-flex flex-row justify-content-between">
    <div class="border">
        <h3>Payment</h3>
        <p>Card Number: {{ number }}</p>
        <p>Cardholder Name: {{ name }}</p>
        <a href="{% url 'payment' %}" class="btn btn-link" role="button">Change Payment Method</a>
    </div>
    <div class="border">
        <h3>Shipping</h3>
        {% if ship|length > 0 %}
        {% for value in ship %}

        <p>First name: {{ value.shipAddFname }}</p>
        <p>Last name: {{ value.shipAddLname }}</p>
        <p>Address: {{ value.shipAddAddress }}</p>
        <p>City: {{ value.shipAddCity }}</p>
        <p>State: {{ value.shipAddState }}</p>
        <p>Zip: {{ value.shipAddZip }}</p>
        <p>Phone number: {{ value.shipAddPhone }}</p>

        {% endfor %}
        <a href="{% url 'shipping' %}" class="btn btn-link" role="button">Change Shipping Address</a>
        {% else %}
        <p>No address saved</p>
        <a href="{% url 'shipping' %}" class="btn btn-link" role="button">Change Shipping Address</a>
        {% endif %}
    </div>
    <div>
        {% if ship|length == 0 or number == 'Please set a credit card number'%}
        <p>Shipping and payment information must be complete to make purchase</p>
        {% elif product|length == 0 %}
        <p>Add products to cart to make purchase</p>
        {% else %}
        <p>Subtotal: ${{ total }}</p>
        <form name='form' action=" {% url 'cart' %}" method="POST">
            <div class="radio">
                <label><input type="radio" name="optradio" id="two" value='10' checked>2 day delivery: $10</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio" id="four" value='6'>4 day delivery: $6</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio" id="seven" value='4'>7 day delivery: $4</label>
            </div>
            <h4 id="total"></h4>

            <button type="submit" class="btn btn-primary btn-lg">Purchase</button>
            {% endif %}
        </form>
    </div>
</div>

<script>
    var price = 0;
    for (var i = 0; i < document.form.optradio.length; i++) {
        document.form.optradio[i].addEventListener('click', function() {
            var total = parseFloat(this.value) + parseFloat('{{ total }}')
            document.getElementById('total').innerHTML = 'Total: $' + total
        })
        if (document.form.optradio[i].checked) {
            price = parseFloat(document.form.optradio[i].value)
        }
    }
    var total = parseFloat(price) + parseFloat('{{ total }}')
    document.getElementById('total').innerHTML = 'Total: $' + total

    var csrftoken = '{{ csrf_token }}';
    function removeFunction( prodName ) {
        console.log("hihihi")
        console.log(prodName)
        console.log(prodName.id)
        var myData = {'product': prodName.id}
        return fetch('/cart', {
            method: "DELETE",
            credentials: "same-origin",
            headers: {
                "X-CSRFToken": csrftoken,
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            body: JSON.stringify(myData)
            })
            .then((response) => {console.log("return page")
            window.location.reload(true)
            }); // parses JSON response into native Javascript objects 

            }
</script>
{% endblock %}
