{% extends 'base.html' %}
{% block title %} Category {% endblock %}
{% load static %}
{% block content %}

    <h1>Category</h1>


    <div class="row">
        {% for category in categories %}
        <script>
        console.log(category.id)
        </script>
        <a class="col-4" href="{% url 'products' category_id=category.id %}">
            <div class="card d-inline-block" style="width: 18rem;">
            <p> {{ category }}</p>
            <img class="card-img-top" src="{% static category.image %}" alt="Pantry & Dry Goods">
            <div class="card-body">
                <h2 class="card-title">{{ category.name }}</h2>
            </div>
            </div>
        </a>
        {% endfor %}

    </div>
</body>
</html>




{% endblock %}