{% extends 'base.html' %}
{% block title %} Wholesale {% endblock %}


{% block content %}

<h1>Our Company</h1>
<p>Wholesale strives to provide the best food products for our customers</p>

<h2>{{ title }}</h2>

<h3>{{ title1 }}</h3>
<p>{{ content1 }}</p>
<h3>{{ title2 }}</h3>
<p>{{ content2 }}</p>
<h3>{{ title3 }}</h3>
<p>{{ content3 }}</p>
<h3>{{ title4 }}</h3>
<p>{{ content4 }}</p>
<h3>{{ title5 }}</h3>
<p>{{ content5 }}</p>

<p><small>Source: https://www.selfgrowth.com/articles/top-5-advantages-of-buying-wholesale-products-from-online-stores</small></p>
{% endblock %}