{% extends 'base.html' %}
{% block title %} Sign in/ Register {% endblock %}

{% block content %}

<h3>Sign in</h3>
<!-- Add forum method -->
<form method="POST">
  <!-- Add cross site request forgery token -->
  {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="userpassword">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>

  <hr>

  <h3>New to Wholesale?</h3>
  <p>Register either as an individual or business</p>
  <a href="{% url 'register' %}" class="btn btn-primary btn-lg" role="button" >Individual Registration</a>
  <a href="{% url 'application' %}" class="btn btn-primary btn-lg" role="button" >Business Registration</a>

{% endblock %}